div.tank {
    margin-bottom: 50px;
    display: none;
}

a {
    float: left;
    width: 100%;
}

#first_tank {
    margin-bottom: 50px;
}

.last {
    margin-bottom: 0px !important;
}

div#pic {

}

div#tex {

}