<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <a href="">{{ tank.name }}</a> {#  todo add tank information  #}

        <img src="{{ tank.image.url }}">
    </div>

</body>
</html>
