<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="all">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script
            src="https://maps.google.com/maps/api/js?sensor=true"
            ></script>
    <title>Танки</title>
</head>

<body>
<div id="select">
    <select id="tank_select">
        <option value="null">Выберите танк</option>
        <option value="a32">А-32</option>
        <option value="t34">Т-34</option>
        <option value="is1">ИС-1</option>
        <option value="is3">ИС-3</option>
        <option value="t54">Т-54</option>
    </select>
</div>
<div id="pic">
    <div class="tank a32">
        <a href="https://ru.wikipedia.org/wiki/%D0%90-32" id="first_tank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Medium_tank_A-32.jpg/1024px-Medium_tank_A-32.jpg">
        </a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Medium_tank_A-32.jpg/1024px-Medium_tank_A-32.jpg">
    </div>
</div>

<div id="tex">
    <div class="tank t34">
        <a href="https://ru.wikipedia.org/wiki/%D0%A2-34">Т-34</a>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/T-34_Model_1940.jpg/800px-T-34_Model_1940.jpg">
    </div>

    <div class="tank is1">
        <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%A1-1">
            ИС-1
        </a>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/IS_1_prototyp.jpg/800px-IS_1_prototyp.jpg">
    </div>
    <div class="tank is3">
        <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%A1-3">ИС-3</a>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/%D0%98%D0%A1-3_%D0%A5%D0%B0%D0%B1%D0%B0%D1%80%D0%BE%D0%B2%D1%81%D0%BA_%D0%BF%D0%B0%D1%80%D0%B0%D0%B4_9_%D0%BC%D0%B0%D1%8F_2015_%D0%B3%D0%BE%D0%B4%D0%B0.JPG/800px-%D0%98%D0%A1-3_%D0%A5%D0%B0%D0%B1%D0%B0%D1%80%D0%BE%D0%B2%D1%81%D0%BA_%D0%BF%D0%B0%D1%80%D0%B0%D0%B4_9_%D0%BC%D0%B0%D1%8F_2015_%D0%B3%D0%BE%D0%B4%D0%B0.JPG">
    </div>
    <div class="tank last t54">
        <a href="https://ru.wikipedia.org/wiki/%D0%A2-54">Т-54</a>
        <img name="rrr" class="tank"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Tank_T-54_in_Verkhnyaya_Pyshma.jpg/800px-Tank_T-54_in_Verkhnyaya_Pyshma.jpg">
    </div>
</div>
<div id="mapSurface"></div>


<script>
    $("#tank_select").change(function () {
        $("#tank_select option:selected").each(function () {
            $("div.tank").hide();
            $("." + $(this).val()).fadeIn(1000);

        });
    });

    navigator.geolocation.getCurrentPosition(
        function(position) {
                console.log("Вы находитесь на " + position.coords.latitude +", " + position.coords.longitude);
                new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
        }
    );
</script>

</body>
</html>